body {
    font-family: "Lora", serif;
    font-size: 1.1rem;
    color: #222;
    line-height: 1.5rem;
}

.content {
    margin: 2rem;
    max-width: min(800px, 90vw);
    justify-self: center;
}

a {
    color: inherit;
    text-decoration: underline;
}

.home {
    margin-bottom: 2.5rem;
    text-decoration: none;
    color: inherit;
}

.home::after,
.link-arrow::after {
    content: "";
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    padding-left: 0.2rem;
    background-color: currentColor;
    mask: url("arrow-up-right.svg") center / contain no-repeat;
    -webkit-mask: url("arrow-up-right.svg") center / contain no-repeat;
}

.back {
    margin-right: 0.7rem;
    text-decoration: none;
}

.back::after {
    content: "";
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    padding-left: 0.2rem;
    background-color: currentColor;
    mask: url("corner-down-left.svg") center / contain no-repeat;
    -webkit-mask: url("corner-down-left.svg") center / contain no-repeat;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    color: inherit;
    cursor: pointer;
}

h1,
h2 {
    margin-top: 2.3rem;
    font-family: "Playfair Display", sans-serif;
}

h1 {
    margin-bottom: 2.3rem;
}
