body {
    font-family: "Cormorant", serif;
    font-size: 1.2rem;
    color: #222;
}

a {
    color: inherit;
    text-decoration: underline;
}

#home {
    position: absolute;
    left: 1rem;
    top: 1rem;
}
