body {
    font-family: "Lora", serif;
    font-size: 1.1rem;
    color: #222;
}

.content {
    margin: 2rem;
    max-width: 60rem;
    justify-self: center;
}

a {
    color: inherit;
    text-decoration: underline;
}

.home {
    margin-bottom: 3rem;
}

.back {
    margin-right: 0.7rem;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    color: inherit;
}

h1,
h2 {
    font-family: "Playfair Display", sans-serif;
}
