html body {
    margin: 0;
}

canvas {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    touch-action: none;
    z-index: 0;
}

#aboutThis {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;
    bottom: 1em;
    right: 1em;
}
