html body {
    margin: 0;
}

canvas {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    touch-action: none;
    z-index: 0;
}

#info {
    position: absolute;
    z-index: 1;
    bottom: 2em;
    left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.home {
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: 1;
}

#info div {
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

p {
    margin: 0.3rem 0;
}

.hidden {
    display: none;
}
