html body {
    margin: 0;
}

canvas {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    touch-action: none;
    z-index: 0;
}

#info {
    position: absolute;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
}

info div {
    border-bottom: 0.1rem solid #222;
    margin-bottom: 0.7rem;
    margin-right: 1rem;
}

.hidden {
    display: none;
}
