canvas {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.personal-info {
    margin-top: max(4rem, calc(100vh - 50rem));
}

#name {
    font-style: italic;
    margin-bottom: 2rem;
}

nav {
    z-index: 1;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    padding: 0;
    margin: 0;
    align-items: left;
}

li a {
    text-decoration: none;
}
