.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin: 4rem auto;
}

.container img {
    width: min(90vw, 600px);
    border: 0px solid #fff;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.container img:hover {
    border-width: 5px;
    width: min(90vw, 600px);
}

.img-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
