body {
    background-color: #000;
    color: #ddd;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 100%;
    margin: 0;
}

.container img {
    width: 100%;
}

.container a img {
    box-sizing: border-box;
    border: 0px solid #000;
    transition: all 0.2s ease;
}

.container a img:hover {
    border-width: 5px;
    width: 100%;
}

.img-with-caption {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
