body {
    margin: 0;
    font-family: "Source Code Pro", monospace;
    font-size: 100%;
    color: #222;
    background: #fff;
}

header {
    display: flex;
    padding: 1.5rem;
    font-size: 1.1rem;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0.1rem solid #222;
}

.headerlink {
    text-decoration: none;
    color: inherit;
}

.headerlink:hover {
    text-decoration: underline;
}

.name {
    font-weight: 700;
}

nav {
    display: flex;
    gap: 2rem;
}
