body {
    font-family: "Cormorant", serif;
    font-size: 1.2rem;
    color: #222;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    margin: 2rem;
    max-width: 60rem;
    z-index: 1;
}

a {
    color: inherit;
    text-decoration: underline;
}

#name {
    margin-bottom: 2rem;
}
