body {
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    touch-action: none;
    z-index: 0;
}

#content {
    margin: 2rem;
    max-width: 60rem;
    z-index: 1;
}

#name {
    margin-bottom: 2rem;
}
